@import '../../styles/mixins';
@import '../../styles/variables';

.filter {
  max-width: 1110px;
  width: 100%;
  padding: 19px 40px;
  margin: -35px auto 0;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  border-radius: $br-small;
  background-color: $color-white;
  box-shadow: $shadow;
  &__btn-clear {
    padding: 0;
    border: none;
    @include font-main($textM, $color-dark-grayish-cyan, 700, 1, 0.3px);
    background-color: transparent;
    cursor: pointer;
    transition: color 0.3s ease;
    &:hover {
      color: $color-desaturated-dark-cyan;
      text-decoration: underline;
    }
  }
}

@media screen and (max-width: 950px) {
  .filter {
    padding-right: 26px;
    padding-left: 18px;
    gap: 10px;
  }
}
