@font-face {
  font-family: League Spartan;
  font-display: swap;
  src:
    url('../assets/fonts/LeagueSpartan-Medium.woff2') format('woff2'),
    url('../assets/fonts/LeagueSpartan-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: League Spartan;
  font-display: swap;
  src:
    url('../assets/fonts/LeagueSpartan-Bold.woff2') format('woff2'),
    url('../assets/fonts/LeagueSpartan-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}
