/* FONT SIZE VARIABLES */
$textXS: 13px;
$textS: 14px;
$textM: 15px;
$textL: 20px;
$textXL: 24px;
$textXXL: 32px;

/* COLOR VARIABLES */
$color-desaturated-dark-cyan: hsl(180, 29%, 50%);
$color-light-grayish-cyan: hsl(180, 31%, 95%);
$color-dark-grayish-cyan: hsl(180, 8%, 52%);
$color-very-dark-grayish-cyan: hsl(180, 14%, 20%);
$color-dg-light-grayish-cyan: hsl(180, 52%, 96%);
