@import '../../styles/mixins';
@import '../../styles/variables';

.stack {
  display: flex;
  flex-wrap: wrap;
  &_variant_basic {
    gap: 8px;
  }
  &_variant_rounded {
    gap: 12px;
  }
  &_variant_removable {
    min-height: 32px;
    gap: 13px;
  }
}
