@import '../../styles/mixins';
@import '../../styles/variables';

.stack {
  display: flex;
  flex-wrap: wrap;
  &_variant_basic {
    gap: 8px;
  }
  &_variant_rounded {
    gap: 12px;
  }
  &_variant_removable {
    min-height: 32px;
    gap: 13px;
  }
}

@media screen and (max-width: 950px) {
  .stack {
    &_variant_basic {
      padding-top: 15px;
      border-top: 1px solid $color-light-grayish-cyan;
      gap: 15px;
    }
    &_variant_rounded {
      gap: 7px;
    }
    &_variant_removable {
      gap: 16px;
    }
  }
}
