@import '../../styles/mixins';
@import '../../styles/variables';

.filter {
  max-width: 1110px;
  width: 100%;
  padding: 29px 40px;
  margin: -36px auto 0;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  border-radius: $br-small;
  background-color: $color-white;
  box-shadow: $shadow;
  &__btn-clear {
    padding: 0;
    border: none;
    @include font-main($textM, $color-desaturated-dark-cyan, 700, 1, 0.3px);
    background-color: transparent;
    cursor: pointer;
    &:hover {
      text-decoration: underline;
    }
  }
}
